/* TYPE SELECTOR */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* CLASS SELECTOR */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.uppercase {
  text-transform: uppercase;
}


.plane-img {
  width: 250px;
}

.home-title {
  font-size: 4rem;
  line-height: 5px;
}

.home-para {
  font-size: 1.25rem;
  font-weight: 400;
}

.home-btn {
  color: #fff;
  font-size: 1.5rem;
  border: 2.5px solid #fff;
  background-color: transparent;
  background-image: linear-gradient(to right, transparent 50%, #fff 50%);
  background-size: 200%;
  background-position: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.4s;
}

.home-btn:hover {
  color: black;
  box-shadow: inset 400px 0 0 0 #fff;
}


.links {
  padding: 0 5px;
  position: relative;
}

.links::after {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.links:hover::after {
  width: 100%;
}

.background-container {
  height: 100%;
  width: 100vw;
  background-image: url("./images/mountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.location-title {
  text-align: center;
  margin-bottom: 60px;
}

.location-group {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* .location-item{
  
} */

.places {
  width: 100%;
  height: 12.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px #000000;
}

.location-text {
  text-align: center;
}

.location-icon {
  margin-right: 7.5px;
}

/* ID SELECTORS */
#navigation-bar {
  width: 100vw;
  color: #fff;
  background-image: linear-gradient(180deg, #00000080, transparent);
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.8vw;

}

#layer-1 {
  padding: 125px 50px;
}


#home {
  color: #fff;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 50vh;
}

#location {
  height: 60vh;
  width: 100vw;
  padding-top: 50px;
  overflow-y: auto;
}

#quote {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: auto;
  margin: 0 auto;
}

#quote .quote-text {
  text-align: center;
}

#quote .author {
  text-align: right;
}

#layer-4,
#layer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}


#call-to-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b81f6;
  border-radius: 15px;
  width: 50vw;
  padding: 2rem;
  color: #fff;
}

#layer-5 {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer a {
  font-weight: bold;
  color: #000;
}