/* COLORS */
:root {
  --white: #fff;
  --black: #000;
  --yellow: #FFD700;
  --red: #F32424;
  --shadow: 0px 0px 5px #000000;
}

/* TYPE SELECTOR */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* CLASS SELECTOR */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-items{
  transition: 0s;
}

.uppercase {
  text-transform: uppercase;
}


.plane-img {
  width: 250px;
}

.home-title {
  font-size: 4rem;
  line-height: 5px;
}

.home-para {
  font-size: 1.25rem;
  font-weight: 400;
}

.home-btn {
  margin-top: 20px;
  color: var(--white);
  font-size: 1.5rem;
  border: 2.5px solid var(--yellow);
  background-color: transparent;
  background-image: linear-gradient(to right, transparent 50%, var(--white) 50%);
  background-size: 200%;
  background-position: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--yellow);
  transition: ease-out 0.4s;
}

.home-btn:hover {
  color: var(--white);
  box-shadow: inset 400px 0 0 0 var(--yellow);
}


.links {
  padding: 0 5px;
  position: relative;
}

.links::after {
  position: absolute;
  content: "";
  background-color: var(--yellow);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.links:hover::after {
  width: 100%;
}

.yellow-gold {
  color: var(--yellow)
}

.shadow-effect,
#navigation-bar,
#layer-1,
#layer-3,
#layer-4,
#layer-5 {
  text-shadow: var(--shadow);
}

.background-container {
  height: 100%;
  width: 100vw;
  background-image: url("./images/mountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.location-title {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  display: inline-block;
  padding: 20px;
  z-index: 2;
}

.location-group {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 2;
}


.waves-top{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1

}

.waves-bottom{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
}



.places {
  width: 100%;
  height: 12.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: ease-out 0.4s;
  cursor: pointer;

}

.places:hover {
  scale: 1.1;
}

.location-text {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 30px;
  color: var(--black)
}

.location-icon {
  margin-right: 7.5px;
  color: var(--red);
  text-shadow: 0px 0px 1px #000000;
}

.cta-btn button {
  background: linear-gradient(0deg, rgb(172, 172, 172) 0%, var(--white) 45%);
  width: 110px;
	cursor:pointer;
	color:var(--black);
  border-radius: 10px;
	font-size:17px;
	padding: .75rem 1.25rem;
	text-decoration:none;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-transform: uppercase;
  transition: 0.20s;
}

.cta-btn:hover{
  scale: 1.025;
}

.cta-btn:active{
  scale: 0.975;
}



.cta-text h3 {
  font-size: 1.5rem;
}

.cta-text p {
  font-size: 1.25rem;
  width: 75%;
  line-height: 1.5;
}

/* ID SELECTORS */
#navigation-bar {
  width: 100vw;
  height: 75px;
  color: var(--white);
  background-image: linear-gradient(180deg, #00000080, #00000040, transparent);
  position: fixed;
  z-index: 5;
}

#navbar-toggle {
  display: none;
  cursor: pointer;
  transition: .4s;
}


#navbar-toggle .bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--yellow);
  transition: all .3s ease-in-out;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12.8vw;

}

#layer-1 {
  padding: 125px 50px;
}


#home {
  color: var(--white);
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 50vh;
}

#logo{
  cursor: pointer;
}

#location {
  height: fit-content;
  width: 100vw;
  padding: 50px 0;
  text-align: center;
  color: var(--white);
  background: linear-gradient(rgba(225, 225, 225, 0.8) ,var(--white));
  border-top: 5px solid var(--yellow);
  border-bottom: 5px solid var(--white);
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#quote {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: auto;
  margin: 0 auto;
}

#quote .quote-text {
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

#quote .author {
  text-align: right;
  font-size: 2rem;
  color: var(--white);
  display: inline-block;

}

#layer-4,
#layer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vw;
  padding: 50px 0;
}

#layer-4 {
  position: relative;
  background: linear-gradient(360deg, rgba(225, 225, 225, 0.8) ,var(--white));
  border-top: 5px solid var(--white);
  border-bottom: 5px solid var(--yellow);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


#call-to-action {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--yellow);
  border-radius: 15px;
  width: 50vw;
  padding: 2rem;
  gap: 2rem;
  color: var(--white);
  box-shadow: inset 0px 0px 40px -20px var(--black);
  z-index: 2;
}

#layer-5 {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);

}

#footer a {
  font-weight: bold;
  color: var(--white);
}

@media screen and (max-width: 690px) {
  *{
    transition: 0.25s;
  }

  #navigation-bar{
    background-color: var(--white);
    border-bottom: 5px solid var(--yellow);
    background-image: none;
  }

  #navbar-toggle{
    display: block;
  }

  #navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }

  #navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-items{
    opacity: 0;
    transform: translateY(-200%);
    display: grid;
    position: absolute;
    background: linear-gradient(var(--white), rgba(225,225,225,0.5));
    width: 100%;
    left: 0;
    top: 72.5px;
    z-index: -1;
    transition: .5s;
    text-align: center;
    border-bottom: 5px solid var(--yellow);
    transition: .45s ease-out;
  }

  .nav-items.active .links{
    font-weight: 600;
  }

  .nav-items.active{
    opacity: 1;
    transform: none;
  }

  .nav-links{
    flex-direction: column;
  }

  #layer-1{
    text-align: center;
    margin: 0 auto;
    padding: 125px 0;
  }

  #call-to-action{
    width: 75vw;
    justify-content: baseline;
  }

  .cta-text p{
    width: 100%;
  }

  #quote{
    width: 75vw;
  }
  
}